PORT = 5000

#Storing username and password for database
USERNAME=your_database_username
PASSWORD=your_database_password
DATABASE=your_database_name
DB_PORT=your_database_port
HOST=your_database_host
